.post-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
    min-height: 400px;

    .col {
        width: 100%;
        padding: 0 15px;
        
        @media screen and(min-width: 560px){
            width: 50%;
        }

        @media screen and(min-width: 1024px){
            width: 33.33%;
        }
    }
}

.config-panel {
    display: flex;
    justify-content: flex-end;

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding:  20px 0;
        margin: 0;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__btn {
        &:hover {
            cursor: pointer;
        }
    }
}